@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Radio+Canada+Big:wght@600&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
}
body {
    background-color: #181B2A;
}
body,.navbar-center a, #login-button, .refill-button, .logout-button, .login-box input[type="text"], .login-box button, h1, button[type="submit"] {
    color: white;
}
.navbar, .navbar-left, .navbar-profile, .navbar-center, .navbar-center a, .navbar-center .online-player, .navbar-profile, .profile-section {
    display: flex;
}
.navbar-left, .navbar-profile, .navbar, .navbar-center, .navbar-center a, .navbar-center .online-player, .navbar-profile, .profile-section {
    align-items: center;
}
.login-box button:hover, button[type="submit"]:hover {
    background-color: #2980b9;
}
.navbar, .login-box input[type="text"], .login-box button {
    padding: 10px;
}
.navbar-left img, .navbar-center .online-player, .coins {
    margin-right: 20px;
}
.navbar-center a, #login-button, .navbar-profile button, .refill-button, .logout-button {
    font-size: 14px;
}
button[type="submit"], .login-box input[type="text"], .login-box button {
    font-size: 16px;
}
button[type="submit"]:hover,.login-box button, .logout-button, .refill-button, .profile-picture, .navbar-profile button, #login-button {
    cursor: pointer;
}
.navbar-center .online-player, button[type="submit"], .login-box button, .login-box input[type="text"],.logout-button, .refill-button, .navbar-profile button, #login-button {
    border-radius: 5px;
}
#login-button, .refill-button, .logout-button, .navbar-profile button {
    font-weight: bold;
}
.login-box input[type="text"], .login-box button, .blur-background {
    width: 100%;
}
h1,.login-box input[type="text"] {
    margin-bottom: 20px;
}
.navbar-center .online-player, .logout-button {
    padding: 5px 10px;
}
.navbar-profile button, .refill-button{
    padding: 8px 15px;
}
.profile-picture, .logout-button {
    margin-right: 10px;
}
#login-button, .login-box button {
    background-color: #3498db;
    padding: 8px 15px;
}
#login-button, .login-box button, .navbar-profile button, .refill-button, .logout-button, .navbar-center .online-player, .navbar-center a, .navbar-profile button, .navbar-center .online-player, .navbar-center a, .navbar-profile button, .profile-section, .navbar-center .online-player, .navbar-center a, .navbar-profile button, .navbar-center .online-player, .navbar-center a, .navbar-profile button, .profile-section {
    transition: background-color 0.3s;
}
.navbar {
    background-color: #222533;
    position: relative;
}
.navbar-left img {
    height: 60px;
}
.navbar-center {
    flex-grow: 1;
    justify-content: center;
}
.navbar-center a {
    text-decoration: none;
    margin-right: 15px;
    font-weight: 500;
}
.navbar-center a:hover {
    color: #f39c12;
}
.navbar-center .online-player {
    background-color: #33374a;
    color: #82e0aa;
}
.navbar-center .online-player img {
    margin-right: 5px;
    height: 16px;
}
.login-box, .navbar-profile {
    position: absolute;
}
.navbar-profile{
    right: 10px;
}
.coins {
    color: #f1c40f;
}
.navbar-profile .refill-button:hover {
    background-color: #2ecc71;
}
.profile-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.refill-button {
    background-color: #27ae60;
}
.logout-button {
    background-color: #ff4c4c; 
}
.logout-button:hover {
    background-color: #ff1a1a;
}
.login-box {
    width: 700px;
    height: 400px;
    z-index: 25;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -350px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 1%;
    background-color: #2e2e2e;
    transform: translateY(0);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    padding: 40px;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.login-box input[type="text"] {
    background-color: #444;
}
.login-box input[type="text"]::placeholder {
    color: #bbb;
}
.blur-background {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(6px);
    background: rgba(34, 34, 34, 0.85);
    z-index: 24;
    visibility: visible;
    transition: backdrop-filter 0.25s ease-in-out;
    pointer-events: all;
    
}
h2 {
    text-align: center;
    font-size: 24px;
    color: #2c3e50;
}
button[type="submit"] {
    padding: 10px 20px;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
